:root {
  --basic-bg-color: #2196f3;
  --primery-item-color: #757575;
  --internal-light-dark: #ffffff;
  --permanent-color: rgba(255, 255, 255, 0.6);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  liste-style: none;
}
a {
  text-decoration: none;
}
/* Шрифт для логотипа */
.logo .bluecolor {
color: #2196F3;
}
.logo {
  color: black;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
}
/* Add blue color for style focus */
.logo:focus {
  color: #080545;
}
/* Шрифт навигации */
.site-nav .item-1 > a {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
/* Add ps-style focus for item1 */
.site-nav .item-1 a:focus {
  color: #2196f3;
}
/* Шрифт навигации */
.site-nav a {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

/* Add backlights */
.site-nav .item-1 .current {
  color: #2196F3;
   

}
/* Add ps-style hover and active for nav unit */

.site-nav .item-1 .link:hover,
.site-nav .item-1 .link:active {
  color: #2196f3;
}
.site-nav .link:hover,
.site-nav .link:active {
  color: #2196f3;
}
.site-nav .link:focus {
  color: #080545;
}
.list .list-tel:hover {
color: #2196F3;
}
.list .e-mail:hover {
color: #2196F3;  
}

/* Дополнительная навигация */
.e-mail {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}
/* Add style focus for adittional block */
.list-tel .tittle:focus,
.e-mail:focus {
  color: #080545;
}
/* Дополнительная навигация */
.tittle {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--basic-bg-color);
}
.list .list-tel {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #757575;
  line-height: 1.14;                      
  letter-spacing: 0.02em;
}
 .list .e-mail {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;;
}
/*Add a ps-style focus for adittional block */
.aside .tel:focus {
  color: #2196f3;
}
/* The beginning of the main content */

.caption h1,
h2,
h3 {
  color: #212121;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* letter-spacing */
.caption h2,
h3 {
  letter-spacing: 0.03em;
}
.caption p {
  letter-spacing: 0.03em;
}
/*Color page*/
.wrapper {
  background-color: #2f303a;
  max-height: 600px;
}
/* Header-1 */
.wrapper .headline {
  word-wrap: break-word;
  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  padding-top: 200px;
  margin-bottom: 30px;
  
}
/* Button */
.wrapper .btn {
  width: 200px;
  height: 50px;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: #ffffff;
  background-color: var(--basic-bg-color);
  margin-top: 30px;
  list-style: none;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding-bottom: 200px;
}

/* "List" */
.activity-list .items p {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  padding-right: 30px;
}
.activity-list .items h3 {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.section .activity-list .item-1 {
  color: var(--primery-item-color);
}
.section .subtitle-1 {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: #212121;
}
.section .subtitle-2 {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: #212121;
}
.section .spesialist .team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #212121;
}
.section .desc {
  font-family:Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: #757575;
}
/* The beginning of the Footer */
.basement {
  letter-spacing: 0.03em;
  background-color: #2f303a;
}
/* Шрифт к футтеру logo*/
.logotype .site-link {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.93;
  color: #2196f3;
}
.basement a {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.93;
  color: white;
  padding-top: 9px;
}
/* Значение в адресе */
.contact-details {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  padding-top: 20px;
}
.info .link-mail {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.basement .info .no-italic {
  font-style: normal;
}
.basement .info .title-link {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}


/* Start flexbox model */
*,
*::before,
*::after {
  box-sizing: inherit;
  }
 .container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.head-container {
  display: flex;
  
}
.first-site-unit {
  display: flex;
  justify-content: flex-end;

}
.second-site-unit {
  display: flex;
  justify-content: flex-end;
}
.nav-container  {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  text-align: center;
}
/* Margin for header */
.nav-container .page-for-logo {
  padding-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}
.link-1 {
  padding-top: 32px;
  padding-bottom: 32px;
  padding: 50px;
}
.link {
 padding-top: 32px;
 padding-bottom: 32px;
}
.second-site-unit .contact {
 padding-left: auto;
 padding-right: 50px;
}

/* Start wrapper padding */
.wrapper .button {
padding: 0px;
margin: 0px;
display: flex;
margin-left: auto;
margin-right: auto;
}
/* hidden h2 */
.sub-title {
  visibility: hidden;
}
.activity-list {
display: flex;
justify-content: space-evenly;
align-items: center;
flex-basis: auto;  
}
.block-list {
  display: flex;
  flex-direction: column;
  padding-top: 94px;
}
.tittle {
padding-top: 94px;
}
.worker-list {
  display: flex;
}
.worker-list .picture {
  display: block;
  width: 370px;
  height: 294px;
  flex-basis: calc((100%-90px)/3);
  margin-left: 30px; 
}
.worker-list{
  display: flex;
  margin-left: -30px;
}
.subtitle-1 {
text-align: center;
padding-bottom: 50px;
}
.subtitle-2{
  text-align: center;
  padding-top: 94px;
  padding-bottom: 50px;
}
.spesialist {
  display: flex;
  margin-left: -30px;
  margin-bottom: 94px;
}
.list-employee {
  width: 270px;
  height: 368px;
}
.spesialist > .list-employee {
 width:270px;
 height:260px;
 flex-basis: calc((100%-120px)/4);
 margin-left: 30px;
}
.footer-block > a,
.footer-block .info > p {
margin: 0;
padding: 0px;
}
.footer-block .info > p {
 padding-top: 20px;   
}



